<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sri Vinayaga Stores</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="layout">
    <nav id="sideNav" class="sidenav">
      <button id="navToggle" class="nav-toggle">☰</button>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('customer_login') }}">Customer</a></li>
        <li><a href="{{ url_for('admin_login') }}">Admin</a></li>
      </ul>
    </nav>

    <main class="main">
      <header class="site-header">
        <h1 class="shop-name">Sri Vinayaga Stores</h1>
        <p><center>𝑃𝑖𝑙𝑙𝑎𝑖𝑦𝑎𝑟 𝐾𝑢𝑝𝑝𝑎𝑚, 𝑉𝑒𝑙𝑙𝑜𝑟𝑒 - 09</center><p>
        <div class="quote-marquee"><marquee behavior="scroll" direction="left">𝐹𝑟𝑒𝑠ℎ 𝐷𝑎𝑖𝑙𝑦 𝐺𝑟𝑜𝑐𝑒𝑟𝑖𝑒𝑠 &nbsp &nbsp &nbsp &nbsp • &nbsp &nbsp &nbsp &nbsp  𝐹𝑟𝑖𝑒𝑛𝑑𝑙𝑦 𝑆𝑒𝑟𝑣𝑖𝑐𝑒 &nbsp &nbsp &nbsp &nbsp • &nbsp &nbsp &nbsp &nbsp 𝑄𝑢𝑎𝑙𝑖𝑡𝑦 𝑌𝑜𝑢 𝐶𝑎𝑛 𝑇𝑟𝑢𝑠𝑡</marquee></div>
        <div class="top-links">
          {% if session.get('role') == 'admin' %}
            <a class="badge" href="{{ url_for('admin_dashboard') }}">Admin: {{ session.get('admin_name') }}</a>
            <a class="btn" href="{{ url_for('admin_logout') }}">Logout</a>
          {% elif session.get('role') == 'customer' %}
            <a class="badge" href="{{ url_for('customer_dashboard') }}">Customer: {{ session.get('customer_name') }}</a>
            <a class="btn" href="{{ url_for('customer_logout') }}">Logout</a>
          {% else %}
            <!-- not logged in -->
          {% endif %}
        </div>
      </header>

      <section class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-area">
            {% for cat, msg in messages %}
              <div class="flash {{cat}}">{{ msg }}</div>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
      </section>

      <footer class="site-footer">
        <p>© Sri Vinayaga Stores - 2025 - [Site Under Development & Testing]</p>
      </footer>
    </main>
  </div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
